<h2>{{ title }}</h2>

<table>
    <thead>
        <tr>
            <th>Room Type</th>
            <th>Room Amenities</th>
            <th>Room Price</th>
            <th>Check-in Time</th>
            <th>Check-out Time</th>
            <th>Select Room</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let room of rooms">
            <td>{{ room.roomType }}</td>
            <td>{{ room.amenities }}</td>
            <td>{{ room.price }}</td>
            <td>{{ room.checkinTime}}</td>
            <td>{{ room.checkoutTime}}</td>
            <td>
                <button class="btn btn-primary" (click)="selectRoom(room)">
                    Select
                </button>
            </td>
        </tr>
    </tbody>
</table>
