
<h1>Welcome to {{hotelname}}</h1>

<div [innerText]="numberofrooms"></div>


<div *ngIf="room.availableRooms>5"> 
    Rooms List

    <table>
        <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Amenities</th>
            <th>Chekin Time</th>
        </tr>

        <tr *ngFor="let room of roomList">
            <td>{{ room.roomType }}</td>
            <td>{{ room.amenities }}</td>
            <td>{{ room.price }}</td>
            <td>{{ room.checkinTime }}</td>
            <td>{{ room.checkoutTime }}</td>
        </tr>
    </table>
     
</div>

